@import url("./src/css/regular.css");
@import url("./src/css/friends/chat.css");
@import url("./src/css/friends/groupChat.css");
@import url("./src/css/friends/list.css");

.singleWindowFocusBar {
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}

.TitleBar {
    top: -32px;
    width: calc(100% + 32px);
    margin-left: -16px;
}

.friendsui-container .title-area-icon .SVGIcon_Button line, .friendsui-container .title-area-icon .SVGIcon_Button rect, .friendsui-container .title-area-icon .SVGIcon_Button polyline {
    stroke: rgb(var(--accent-1));
}

.friendsui-container .title-area-icon.windowControlButton:hover {
    background: rgb(var(--color-2));
}

.friendsui-container .title-area-icon.windowControlButton.closeButton:hover {
    background: rgb(var(--accent-1));
}

.friendsui-container .title-area-icon.windowControlButton.closeButton:hover .SVGIcon_Button line {
    stroke: rgb(var(--color-2));
}

.friendsui-container .title-area-icon.windowControlButton:hover {
    background: rgb(var(--color-2));
}

.friendsListContainer,
.multiChatDialog {
    height: calc(100% - 48px);
    margin: 32px 16px 16px;
    overflow: unset !important;
}